# Environment variables
.env
.env.local
.env.*.local

#test
.claude/

# Composer
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.editorconfig
.laragon

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/logs/
/data/logs/

# Cache
/tmp/
/cache/
config/cache/
config/data/
*.cache

# Project specific
.env.production
settings.local.php

docs/

# Test reports
public/test_report_*
