parameters:
    level: 8
    paths:
        - src
        - config
        - database
        - templates
        - lang
        - public
        - bin
        - cli
    excludePaths:
        - */node_modules/*

services:
    -
        class: DevopsGluePHPStan\PdoPrepareReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
