parameters:
    level: 6
    paths:
        - src
        - config
        - database
        - templates
        - lang
        - public
        - bin
        - cli
    excludePaths:
        - */node_modules/*
